[2022-01-29 05:47] skpandey885 opened #6 "How to Publish your changes to website?"
**Hey everyone!👨🏻‍💻**
_You can refer to the steps below if you want to publish your changes to a temporary website before merging_ 🙌🏻

### STEP 1
[code]

### STEP 2
[code]
<img width="830" alt="Screenshot 2022-01-29 at 10 59 31 AM" src="https://user-images.githubusercontent.com/78532081/151648856-c27bd48b-b06d-4c89-a522-c1ad9d095523.png">

### STEP 3
[code]

<img width="333" alt="Screenshot 2022-0

[2022-01-29 16:43] afreenabegum commented on #6
Hey @skpandey885 .Can you explain what actually we need to do, to fix this issue!

Thanks.

[2022-01-31 06:43] skpandey885 commented on #6
@afreenabegum  Hey, this is not an issue. I have created this issue but actually, it is documentation on "How to publish your changes to a temporary website."
So, you do not need to worry about this one.

[2022-01-31 06:49] codervivek5 commented on #6
I am interested in this project but sir how i work in this project

[2022-01-31 07:01] Sanghu01 commented on #6
Hey, This is Sangh Priya Gautam .I am intrested in contributing to this project but how can i work in this project .

[2022-01-31 08:00] skpandey885 commented on #6
Hey @codervivek5 @Sanghu01  Please ask on discord :)

[2022-02-01 03:31] skpandey885 opened #8 "Compress the size of all background Images"
**Current Behaviour:** All the images used as background in the website are of high size and quality. Due to this, it takes a lot of time to load the background images of the website.

**Changes Required:** Compress the size of every background image and add them to the website. Remove the highly-sized Background Images.

[2022-02-01 03:45] skpandey885 opened #9 "Add CovidTracking API"
**Current Behaviour:**  Inside the Covid Section (https://skpandey885.github.io/HealhUb/pages/covidSection.html) of our website. The covid tracking is not working.

<img width="1359" alt="Screenshot 2022-02-01 at 9 11 47 AM" src="https://user-images.githubusercontent.com/78532081/151909684-6bf364f0-1a64-4e46-9080-059e5a3538cf.png">

<hr>

**Expected Behaviour:** Add the proper live covid tracking

[2022-02-01 03:50] PranK14 commented on #8
i would like to work on this inder jwoc

[2022-02-01 03:57] skpandey885 opened #10 "Fix the sizes of each card and add more cards"
**Current Behaviour:**  In the Blogs & Articles page we have used Bootstrap cards. The size of each card is not the same.

<img width="1361" alt="Screenshot 2022-02-01 at 9 21 55 AM" src="https://user-images.githubusercontent.com/78532081/151910369-013d1611-b498-4604-a31d-82c02395d848.png">
<hr>

**Expected Behaviour:** Make all the cards of the same size and add more cards(with different article

[2022-02-01 03:58] #10 closed

[2022-02-01 04:01] skpandey885 commented on #8
Go ahead!

[2022-02-01 05:09] codervivek5 commented on #6
I want to work on this issue under JWOC

[2022-02-01 05:32] PranK14 commented on #8
@skpandey885  just one thing do i have to reupload those images after compressing in assets branch ?

[2022-02-01 05:39] Atif0604 commented on #9
i would like to work on this under JWOC
@skpandey885

[2022-02-01 05:51] yeshwanth235 commented on #9
I am also interested in taking this issue under JWOC

[2022-02-01 06:39] skpandey885 commented on #9
Go Ahead! @Atif0604

[2022-02-01 06:40] skpandey885 commented on #9
Hey, you can create any issue by yourself. Visit the website and see what improvements we can make and then create an issue :)

[2022-02-01 06:43] skpandey885 opened #11 "Improve card sizing and add more cards"
**Current Behaviour:**  In the Blogs & Articles page we have used Bootstrap cards. The size of each card is not the same.
You can Refer: https://skpandey885.github.io/HealhUb/pages/cards.html

<img width="1361" alt="Screenshot 2022-02-01 at 9 21 55 AM" src="https://user-images.githubusercontent.com/78532081/151910369-013d1611-b498-4604-a31d-82c02395d848.png">
<hr>

**Expected Behaviour:** Make all

[2022-02-01 06:58] skpandey885 opened #12 "Improve "About" Page"

[2022-02-01 06:58] #12 closed

[2022-02-01 07:00] skpandey885 opened #13 "Improve "About" Page"
**Current Behaviour:**  The "About" Page of our website has good UI but less content.

<img width="1329" alt="Screenshot 2022-02-01 at 12 24 42 PM" src="https://user-images.githubusercontent.com/78532081/151925340-bdca09a0-a2cc-436b-918d-b23aa39b338a.png">
<hr>

**Expected Behaviour:**  Add more content in each section inside the "About" page and improve UI of the page.

[2022-02-01 07:03] codervivek5 commented on #13
I want to work on this issue under JWOC

[2022-02-01 07:04] codervivek5 commented on #8
I want to work on this issue under JWOC

[2022-02-01 07:08] skpandey885 opened #14 "Add "Preloader" to the website"
**Preloader** is the animation that shows up before the website loads up.
For reference :  <a href= "https://www.youtube.com/results?search_query=preloader+for+website+ ">Click Here</a>

**Current Behaviour:** There is no preloader for the website.

**Expected Behaviour:** Add a preloader to the website. There should be the logo of HealhUb at the preload.
Get the logo from here:
[code]

[2022-02-01 07:09] skpandey885 commented on #13
Assigned.

[2022-02-01 07:11] skpandey885 commented on #13
@codervivek5  while adding the content to the sections. Make sure that there is **no grammatical mistake**.

[2022-02-01 07:13] skpandey885 commented on #8
Yes. after compressing the images you have to add them in the assets folder with the same name as earlier. @PranK14

[2022-02-01 07:14] codervivek5 commented on #13
Ok i will remind it very well

[2022-02-01 07:17] PranK14 commented on #8
ok i will get it done

[2022-02-01 09:33] Ankit62042 commented on #11
I want to work on this issue

[2022-02-01 09:34] Ankit62042 commented on #14
I  want to work on this issue

[2022-02-01 10:56] ZaidMujahid commented on #14
I want to work on this issue under JWOC

[2022-02-01 10:59] Kaggrov commented on #14
I want to work on this issue under JWOC

[2022-02-01 11:00] mgjain9871 opened #16 "Image and Article link not working in cards.html"
In cards.html, two photos of the blogs and articles cards are not loading and the URL in the last card is also not working .

![image](https://user-images.githubusercontent.com/71882225/151956725-68b17c46-20ee-41e9-bd0c-4ac928b95cf3.png)

[2022-02-01 11:00] mgjain9871 commented on #16
I want to work on this issue under JWOC.

[2022-02-01 11:07] ronitblenz commented on #16
Hey, I have worked on several hackathons and I want to work on this issue
Please let me in as an assignee
Thanks and Regards

[2022-02-01 12:50] skpandey885 commented on #16
@mgjain9871  Go ahead.

[2022-02-01 12:52] skpandey885 commented on #16
Hey @ronitblenz , You can create an issue by yourself. Check out the website and create an issue if you think you can improve some functionalities.

[2022-02-01 12:52] skpandey885 commented on #14
Go ahead.

[2022-02-01 12:56] skpandey885 commented on #14
Hey @ZaidMujahid @Kaggrov . We are following the _First Come first serve_ basis. Visit the website and see what functionality you can improve and then create the issue.

[2022-02-01 12:57] skpandey885 commented on #16
hey @mgjain9871  do you want to work on issue #11 ???  Because this issue and issue #11 are similar.

[2022-02-01 12:59] mgjain9871 commented on #16
Cool, I can go with that issue then

[2022-02-01 13:25] ronitblenz commented on #16
So, Should I work on this issue ?

[2022-02-01 14:53] RajulPE commented on #11
Hi, I am interested in working on this issue under JWOC.

[2022-02-01 15:43] skpandey885 commented on #16
Ok Done!

[2022-02-01 15:44] skpandey885 commented on #16
@mgjain9871
Go to #11 and type "Interested"

[2022-02-01 15:46] mgjain9871 commented on #11
Interested in working on this issue under JWOC

[2022-02-01 15:50] skpandey885 opened #17 "Improve the CSS of Covid Section Page"
**Current Behaviour:**  The CSS of the Covid section page needs to be improved. The UI currently is not good looking
**Images:** <br>
<img width="1395" alt="Screenshot 2022-02-01 at 9 16 13 PM" src="https://user-images.githubusercontent.com/78532081/152001333-ddb64932-d7dc-4fbc-afeb-89f2a8639636.png">
<img width="1395" alt="Screenshot 2022-02-01 at 9 16 20 PM" src="https://user-images.githubuserco

[2022-02-01 17:59] soumali28 commented on #17
I want to work on this issue under JWOC

[2022-02-01 19:16] whiteHatpro commented on #17
I want to work on this issue under JWOC

[2022-02-01 19:16] whiteHatpro commented on #13
I want to work on this issue under JWOC

[2022-02-01 19:16] whiteHatpro commented on #11
I want to work on this issue under JWOC

[2022-02-02 10:58] skpandey885 commented on #17
Go ahead.

[2022-02-02 11:02] skpandey885 opened #20 "Remove a button"
In the covid section page. This 👇🏻icon in the top-left corner is not looking good.

[code]
<img width="147" alt="Screenshot 2022-02-02 at 4 30 16 PM" src="https://user-images.githubusercontent.com/78532081/152141518-0af25d5d-2517-4ff8-9c47-78f3942c9978.png">

**Expected Behaviour:**  Remove this icon

[2022-02-02 11:07] Amit91848 commented on #20
Hi! Can I work on this?

[2022-02-02 11:09] skpandey885 commented on #20
Go ahead! @Amit91848

[2022-02-02 11:15] skpandey885 opened #21 "Improve the Tips page"
**Current Behaviour:**  The CSS of the tips page is not that good.
[code]

**Expected Behaviour:**  Improve the CSS of the Tips page and add more tips in it.
(Note:  The CSS of the tips page needs to be very good)

[2022-02-02 13:16] yeshwanth235 commented on #21
I am interested in it, assign it to me.

[2022-02-02 15:03] sharma-02 commented on #20
I want to work on this issue under JWOC.

[2022-02-02 15:19] skpandey885 commented on #9
Hey, @Atif0604 The PR you have made is not proper. You have changed only one line of code. What I wanted is to completely re-modify that covid table(improvement in CSS) & improve live covid tracking functionality. Reply ASAP, if you are willing to do. Otherwise, we will give chance to others as well.

[2022-02-02 17:44] Atif0604 commented on #9
Ok
I will work the UI improvement of table

[2022-02-02 17:52] #20 closed

[2022-02-02 18:25] ronitblenz commented on #16
Hey, is @mgjain9871 working on it? Else I am ready to be an assignee

[2022-02-02 18:55] mgjain9871 commented on #16
Actually, i am working on issue #11 and that would be completed by next hour , and on completion of that issue, this issue would be automatically solved.
@skpandey885 i think you can close this issue, my work on another is issue is almost done and i have solved this error.

[2022-02-02 19:26] ronitblenz commented on #16
No issues brother, Happy coding 👨🏻‍💻

[2022-02-03 11:33] skpandey885 commented on #14
@Ankit62042 What is the update?

[2022-02-03 12:35] Ankit62042 commented on #14
I'm Working on it !! Just give me some time till 12:00

[2022-02-03 19:52] skpandey885 commented on #9
@Atif0604 what is the update?

[2022-02-03 20:01] skpandey885 commented on #13
I need better improvements on this page, Vivek did up to his level but this page needs more improvements.

[2022-02-03 20:10] skpandey885 opened #25 "Add a "Tools" Section"
**Current Behaviour:** The navigation bar has a BMI section that re-directs the user to the BMI Calculator tool.

<img width="280" alt="Screenshot 2022-02-04 at 1 33 58 AM" src="https://user-images.githubusercontent.com/78532081/152420128-fae46458-bf96-4425-8186-e469f83a0a7a.png">

**Expected behaviour/ Changes you need to make:**
1. Replace the BMI in the navbar with "Tools"
2. Create a new page

[2022-02-03 20:27] codervivek5 commented on #13
hey, @skpandey885  Tell me something. what we have to do to improve this page.

[2022-02-03 20:34] Ankit62042 commented on #14
Hii, I shared a video on discord of pre-loader that I created

[2022-02-04 03:26] skpandey885 commented on #13
@codervivek5 more content and some minor CSS improvements. But I won't re-assign you. You can look for some other changes.

[2022-02-04 03:29] skpandey885 commented on #13
@codervivek5 After merging your pr, the changes are not reflecting on the website. What kind of PR did you make?

[2022-02-04 04:16] Srijita-Mandal commented on #25
Hii, Can I work on this issue under JWoC?

[2022-02-04 04:26] skpandey885 commented on #25
Go ahead

[2022-02-04 05:51] Atif0604 commented on #9
I have already committed the new changes

[2022-02-04 06:15] aryankaushik-git commented on #13
I want to work on this issue under JWOC

[2022-02-04 07:03] skpandey885 commented on #13
Go ahead.

[2022-02-04 07:07] #9 closed

[2022-02-04 17:05] #11 closed

[2022-02-04 17:13] skpandey885 opened #27 "Improve the Responsiveness of the "Blogs & Articles" Page"
**Current Behaviour:**
[code]
<img width="350" alt="Screenshot 2022-02-04 at 10 41 32 PM" src="https://user-images.githubusercontent.com/78532081/152572393-8c15abf5-2238-486f-b16f-39790712fe16.png">
<img width="355" alt="Screenshot 2022-02-04 at 10 41 48 PM" src="https://user-images.githubusercontent.com/78532081/152572443-48747ac2-3720-41cc-97d6-b2a623fccc6b.png">

<hr>

**Expected Behaviour:**
T

[2022-02-04 17:15] #16 closed

[2022-02-04 17:17] skpandey885 commented on #21
@yeshwanth235 What is the status?

[2022-02-04 17:17] skpandey885 commented on #14
@Ankit62042 Where's the PR?

[2022-02-04 20:50] Ankit62042 commented on #14
PR Sent

[2022-02-05 08:40] Tess-Vanta commented on #27
I want to work on this issue under JWOC

[2022-02-05 11:39] riiyaaa commented on #13
I would like to work on this issue under jwoc!

[2022-02-05 11:43] skpandey885 commented on #27
Ok

[2022-02-05 14:25] skpandey885 opened #30 "Change the Navbar design"
**Current Behaviour:** The design of the navbar of the "Covid" page is different from the design of other navbars.

<img width="1434" alt="Screenshot 2022-02-05 at 7 51 46 PM" src="https://user-images.githubusercontent.com/78532081/152645666-5a41cef4-4e63-405f-bd38-689bdbf31c02.png">
<hr>

**Expected Behaviour:** Change this navbar design like the navbar of other pages (Simply copy the navbar code

[2022-02-05 16:11] codervivek5 commented on #13
@skpandey885 I have added some content only in the about section.

[2022-02-05 16:25] Amit91848 commented on #30
Can i work on this?

[2022-02-05 17:49] skpandey885 commented on #30
Yes. Go ahead.

[2022-02-05 17:54] #17 closed

[2022-02-05 17:55] skpandey885 commented on #25
@Srijita-Mandal What is the update??

[2022-02-05 17:58] skpandey885 opened #32 "Changes under "Covid Section" page"
**Expected Behaviour:** Put these section "dos" & don't in separate boxes and add CSS to the boxes.

<img width="1345" alt="Screenshot 2022-02-05 at 11 26 39 PM" src="https://user-images.githubusercontent.com/78532081/152653191-e88b13e7-bf42-44be-ac4b-0dbd90b1acce.png">
<hr>

**For Reference: https://skpandey885.github.io/HealhUb/pages/covidSection.html**

[2022-02-05 18:41] tanya-gupta25 commented on #32
I want to work on this issue under JWOC.

[2022-02-06 02:30] Srijita-Mandal commented on #25
I can complete it by today. Can you please share rest card contents, other than BMI?

[2022-02-06 03:13] skpandey885 commented on #14
@Ankit62042 The preloader is not working.

[2022-02-06 03:19] skpandey885 opened #35 "Improve the CSS of "Team" page"
**Current Behaviour:** The UI of the "Team" page is good. But it can be improved a lot.

**Images:**
<img width="1438" alt="Screenshot 2022-02-06 at 8 45 13 AM" src="https://user-images.githubusercontent.com/78532081/152666395-cb8088ee-5706-46dd-be1b-f702e2efcac8.png">
<hr>

**Expected Behaviour:** Improve the whole css of Team Page. Remove the (Pink-ish) colours it has right now and Improve the c

[2022-02-06 09:59] skpandey885 commented on #27
@Tess-Vanta Really good job.

[2022-02-06 09:59] #27 closed

[2022-02-06 10:05] Tess-Vanta commented on #35
I would like to take up this issue under JWOC

[2022-02-06 10:50] #13 closed

[2022-02-06 10:52] skpandey885 opened #39 "Improve the CSS of about page"
The CSS of the "About" page needs to be improved.
Link to "About" Page: https://skpandey885.github.io/HealhUb/pages/about.html

[2022-02-06 10:54] skpandey885 commented on #35
Go ahead

[2022-02-06 10:57] ronitblenz commented on #39
Hi, I want to work on this issue

[2022-02-06 12:41] skpandey885 commented on #39
Go ahead. @ronitblenz

[2022-02-07 03:31] skpandey885 commented on #14
@ZaidMujahid Are you interested in taking up this issue?

[2022-02-07 03:32] #21 closed

[2022-02-07 13:01] chaidul opened #44 "Improve the menu of tips.html page"
Hello brother, I want to work on this issue

[2022-02-07 13:41] #25 closed

[2022-02-07 13:41] skpandey885 commented on #30
@Amit91848 What is the update?

[2022-02-07 13:57] Amit91848 commented on #30
I copy pasted the code but due to bg-dark class it gets the greyish background colour. So should I remove the class?

[2022-02-07 14:01] chaidul commented on #44
Tips.html navbar toggle not working,
I already fixed it, merge my pull request 👍

[2022-02-07 14:23] chaidul commented on #44
- Please feedback my pull request close reason !

[2022-02-07 14:40] SabariGanesh-K commented on #14
@skpandey885 Can I try?

[2022-02-07 17:26] skpandey885 commented on #14
Go for it.

[2022-02-09 06:02] ronitblenz commented on #39
Could you plz check and merge my PR?

[2022-02-09 10:27] skpandey885 commented on #30
Ok. Do any change. but make the navbar as i have told you.

[2022-02-09 10:28] skpandey885 commented on #44
You only changed the brackets and few lines in your pr.
I did not assign you the issue still you created a pr.
Please create a valid issue and PR.

[2022-02-09 10:28] #44 closed

[2022-02-11 09:19] #14 closed

[2022-02-11 09:23] #32 closed

[2022-02-11 13:53] ronitblenz commented on #30
Can I work on this issue, if no one is doing?

[2022-02-11 14:50] skpandey885 opened #51 "Fix the missing images of Tools Page"
**Current Behaviour:** The images on the tools page are not showing.

<img width="1437" alt="Screenshot 2022-02-11 at 8 15 52 PM" src="https://user-images.githubusercontent.com/78532081/153612646-3b7ea00a-32a7-4381-a2df-8ebfe1805559.png">

**Expected Behaviour:**  Bring the images back(the links to the images must be in the code base) and fix this.
<img width="1437" alt="Screenshot 2022-02-11 at 8

[2022-02-11 14:52] #51 closed

[2022-02-11 14:57] skpandey885 opened #52 "Fix the "Tools" link"
**CURRENT BEHAVIOUR:** When you go to "Tools" page (<a href="https://skpandey885.github.io/HealhUb/pages/tools.html">Click here to go!</a>) and click on Tools on the Navbar. It Redirects you to BMI Page.
**EXPECTED BEHAVIOUR:**  It should redirect to itself. Fix this.
(Also fix all the "Tools" link issues in the website.)

[2022-02-11 15:00] skpandey885 opened #53 "Improve the Responsiveness of the Tools Page"
**CURRENT STATUS:**  The tools page is not responsive.

<img width="952" alt="Screenshot 2022-02-11 at 8 29 01 PM" src="https://user-images.githubusercontent.com/78532081/153614827-2742c5cd-cacd-41f5-8d7e-2552ce6839b3.png">

<h3>EXPECTED BEHAVIOUR: MAKE IT FULLY RESPONSIVE FOR ALL SCREEN SIZES.</h3>

[2022-02-11 15:04] skpandey885 opened #54 "Fix the Navbar Design of Tools Page"
**CURRENT BEHAVIOUR:**  The Navbar of Tools page is not like the navbars used in other pages of the website.

<img width="1427" alt="Screenshot 2022-02-11 at 8 31 30 PM" src="https://user-images.githubusercontent.com/78532081/153615205-46a39bec-e53e-40d3-9f96-18b354b1a594.png">

**EXPECTED BEHAVIOUR:**  Make the Navbar of "Tools" Page like this Navbar. (This is the Navbar of Home Page)
<img width=

[2022-02-11 15:18] yeshwanth235 commented on #53
Can u assign it to me

[2022-02-11 15:24] armaanbadhan commented on #52
id like to work on this issue under jwoc

[2022-02-11 15:26] Tess-Vanta commented on #39
I want to take this up under JWOC

[2022-02-11 15:26] Tess-Vanta commented on #54
I want to take this up under JWOC

[2022-02-11 15:27] tanya-gupta25 commented on #54
I want to work on this issue under JWOC.

[2022-02-11 15:28] tanya-gupta25 commented on #52
I want to work on this issue under JWOC.

[2022-02-11 15:56] skpandey885 commented on #54
@Tess-Vanta Go for it.

[2022-02-11 15:57] skpandey885 commented on #54
First come, first serve :)

[2022-02-11 15:57] skpandey885 commented on #53
Go for it

[2022-02-11 15:58] skpandey885 commented on #52
Go for it.

[2022-02-11 15:59] skpandey885 commented on #39
OK

[2022-02-11 16:05] skpandey885 opened #55 "Improve the Responsiveness of the Preloader"
**CURRENT BEHAVIOUR:** The preloader is not aligned at the center for different screen sizes. It is only aligned perfectly for desktop size.
<img width="1427" alt="Screenshot 2022-02-11 at 9 33 23 PM" src="https://user-images.githubusercontent.com/78532081/153625874-3bdf1f24-8c95-47ea-b7be-f7465f5affab.png">

**EXPECTED BEHAVIOUR:** Align it to the center for all devices and all screen sizes.

[2022-02-11 16:09] skpandey885 opened #56 "Improve the Responsiveness of the Covid Section"
Covid Page: https://skpandey885.github.io/HealhUb/pages/covidSection.html
**CURRENT BEHAVIOUR:** The COVID page is not responsive.

<img width="940" alt="Screenshot 2022-02-11 at 9 37 22 PM" src="https://user-images.githubusercontent.com/78532081/153626409-cb1d19c2-ef04-43ed-96a5-161107a284bb.png">

**EXPECTED BEHAVIOUR:** Improve the responsiveness and make it responsive for all device screens.

[2022-02-11 16:21] Srijita-Mandal commented on #55
I want to work on this issue under JWoC

[2022-02-11 16:36] skpandey885 commented on #55
👍🏻

[2022-02-11 16:50] Mainakroy050 commented on #56
I want to work on this issue under JWOC

[2022-02-11 16:59] skpandey885 commented on #56
Go ahead.

[2022-02-12 07:28] #55 closed

[2022-02-12 07:30] #54 closed

[2022-02-12 07:32] #30 closed

[2022-02-12 07:45] skpandey885 opened #59 "Add Slide Down Animation"
<h3>Current Behaviour: The Home page directly appears after the preloader and there is no animation.</h3>

**Video:**

https://user-images.githubusercontent.com/78532081/153702092-e8417b82-495c-4d1d-8e5e-6cded2e31753.mov
<hr>

<h3>Expected Behaviour: Add a slide-down Animation like this 👇🏻</h3>

 **Video:**

https://user-images.githubusercontent.com/78532081/153702222-679edb24-43dc-40d2-bad4-5178e

[2022-02-12 07:57] skpandey885 opened #60 "Create the "Medical Help" Page"
**Current Behaviour:** If you click on the "Medical help" button which is inside the "Tools" page. The Medical help button does not have any Page linked to it.
**Expected Behaviour:** Create a Medical help page. and Inside that page add different sections. In each section, You have to add the name of the disease- its medicines, its causes, its reasons, etc., and a lot of things.
**(MUST CONSULT TO

[2022-02-12 08:16] tanya-gupta25 commented on #60
I want to work on this issue under JWOC.

[2022-02-12 09:09] skpandey885 commented on #60
Go ahead

[2022-02-12 11:31] Anosh21 commented on #59
Hey @skpandey885 , I would like to take up this issue under JWOC.

[2022-02-12 11:46] skpandey885 commented on #59
Go ahead.

[2022-02-12 11:47] #52 closed

[2022-02-13 11:18] Aniket-508 opened #65 "Add contributors section in the Team Page through Github API"
@skpandey885 I want to work on this issue under JWoC.

[2022-02-13 12:23] skpandey885 commented on #65
Hey, Adding the total contributor's name to the about page will become very much lengthy. So it is not needed.

[2022-02-13 12:23] #65 closed

[2022-02-13 12:34] skpandey885 opened #66 "Create "Nearby Hospital" Page and Add Google Map API functionality"
**CURRENT BEHAVIOUR:** If you go to the <a href="https://skpandey885.github.io/HealhUb/pages/tools.html">Tools</a> page & click on "Nearby Hospitals" button. There is no page currently.
**EXPECTED BEHAVIOUR:** Create the Nearby Hospitals Page and add Google Maps API functionality which shows Nearby Hospitals Based on User's Location.

[2022-02-13 12:37] Tess-Vanta commented on #39
I have done one section of the page.... I have the time till tomorrow night isn't it ?

[2022-02-14 09:00] DarkFalc0n commented on #66
I want to work on this issue under JWOC

[2022-02-14 09:10] skpandey885 commented on #66
Go ahead.

[2022-02-14 10:55] 03amir commented on #66
I want to work on this issue under JWOC

[2022-02-14 12:33] sayan404 commented on #56
I want to work in this issue under JWOC .

[2022-02-14 16:38] skpandey885 commented on #56
@sayan404  Go ahead.

[2022-02-14 16:39] #53 closed

[2022-02-14 16:39] skpandey885 commented on #59
@Anosh21  Please check my comment on your PR. Reply ASAP

[2022-02-14 16:40] skpandey885 commented on #60
It's been 2 Days. What's the update?

[2022-02-14 17:50] 920DEV commented on #56
I want to work in this issue under JWOC

[2022-02-15 08:45] Srijita-Mandal commented on #59
can I work on this issue under jwoc?

[2022-02-15 09:50] Shruti025 commented on #59
Hey can I work on this issue under JWOC?

[2022-02-15 14:16] skpandey885 commented on #59
go ahead

[2022-02-16 18:44] #59 closed

[2022-02-16 18:44] skpandey885 commented on #66
@DarkFalc0n What is the Update?

[2022-02-16 18:48] skpandey885 opened #70 "Improve the UX of About Page"
**CURRENT BEHAVIOUR:** The UX of the "About" Page is not that Good. It is a bit laggy.
Refer to this: https://skpandey885.github.io/HealhUb/pages/about.html
**EXPECTED BEHAVIOUR:** Improve the UX of the "About" Page and Make it smoother.

[2022-02-16 18:57] skpandey885 opened #71 "Add a "Trainer" page in the "Tools" section"
**CURRENT BEHAVIOUR:** As you can see the dummy cards below👇🏻.
<img width="1402" alt="Screenshot 2022-02-17 at 12 24 37 AM" src="https://user-images.githubusercontent.com/78532081/154335831-23ad6d7f-a57a-476a-8373-79985c4805b9.png">
EXPECTED BEHAVIOUR: Change one of them to "Trainer" and create a trainer page. That page should contain Some questions and depending upon the user's input the page wil

[2022-02-16 19:01] skpandey885 opened #72 "Documentation for "HealhUb""
**Current Behaviour:**  There is no documentation for "HealhUb" which describes our website.
**Expected Behaviour:** Create a documentation.md file under the documentation folder & write proper documentation for HealhUb including introduction, functioning, Tools, etc.

[2022-02-16 19:08] Srijita-Mandal commented on #72
Can I work on this issue under jwoc?

[2022-02-16 19:40] DarkFalc0n commented on #66
I am done however there is one bug, I will be fixing it overnight, and will PR tomorrow.

[2022-02-17 03:41] Amit91848 commented on #70
Can i work on this?

[2022-02-17 03:43] sayan404 commented on #8
I want to work in this issue under JWOC.

[2022-02-17 03:53] codervivek5 commented on #8
I want to work in this issue under JWOC.
i can do it

[2022-02-17 06:47] Tess-Vanta commented on #71
I would like to take up this issue under JWOC

[2022-02-17 16:12] skpandey885 commented on #71
Go ahead.

[2022-02-17 16:13] skpandey885 commented on #70
Go ahead.

[2022-02-17 16:30] Tess-Vanta commented on #71
Sorry, I have been assigned two issues ;(

[2022-02-18 02:39] skpandey885 commented on #56
do you want to work on this issue?

[2022-02-18 11:22] skpandey885 commented on #71
So you can work in two issues. Right?

[2022-02-18 12:24] Shruti025 commented on #56
Hey @skpandey885 can I work on this issue under JWOC? I have commented earlier as well

[2022-02-18 12:28] skpandey885 commented on #56
Do you want to work on this issue?

[2022-02-18 12:47] wasimreja commented on #8
@skpandey885 bhaiya I would like to work on this under JWoC.

[2022-02-18 12:50] Shruti025 commented on #56
Hey, I got assigned another issue so I'll be working on that first.

[2022-02-18 12:51] #72 closed

[2022-02-18 12:56] skpandey885 commented on #8
Go ahead.

[2022-02-18 12:56] skpandey885 commented on #8
Go ahead

[2022-02-18 12:57] skpandey885 commented on #8
Things are Happening according to First come first serve basis :)

[2022-02-18 17:00] Tess-Vanta commented on #71
Apart from this

[2022-02-19 01:48] skpandey885 opened #75 "Improve the CSS of Medical Help Page"
**Current Behaviour:** The design and look of the <a href="https://skpandey885.github.io/HealhUb/pages/medicalHelp.html">Medical Help</a>  is not that good.
**Expected Behaviour:** It needs to be improved.

[2022-02-19 01:48] #60 closed

[2022-02-19 13:14] sayan404 commented on #8
Ok I will creat a new branch for a new pr @skpandey885

[2022-02-19 13:28] Tess-Vanta commented on #56
I want to work on this under JWOC.

[2022-02-19 15:56] skpandey885 commented on #56
ok

[2022-02-20 07:57] skpandey885 commented on #70
@Amit91848 What is the update? Create a PR by tonight. I have given you long time to fix the issue

[2022-02-21 04:48] 920DEV commented on #70
i want to work on this

[2022-02-21 09:08] Tess-Vanta commented on #71
I would like to take up this issue under JWOC

[2022-02-21 13:33] skpandey885 commented on #66
@03amir Are you interested in taking this issue?

[2022-02-21 13:33] skpandey885 commented on #71
go ahead.

[2022-02-21 13:37] #8 closed

[2022-02-21 13:38] skpandey885 commented on #70
@920DEV Go ahead.

[2022-02-21 13:40] #56 closed

[2022-02-21 13:42] skpandey885 opened #80 "Re-design the Covid Section with proper Responsiveness"
**CURRENT BEHAVIOUR:** The covid Page needs to be updated with improved responsiveness.
**EXPECTED BEHAVIOUR:** Re-design the whole page from scratch with proper responsiveness.

[2022-02-21 13:42] skpandey885 commented on #80
@Tess-Vanta Take this one.

[2022-02-21 13:43] Tess-Vanta commented on #80
Yes I will take this up

[2022-02-22 10:15] 03amir commented on #66
Yes. You can assign me.

[2022-02-22 13:54] riiyaaa commented on #75
okay

[2022-02-23 03:12] Shruti025 opened #83 "Responsiveness of Tools Page"
The Tools Page of the website is not responsive.
![image](https://media.discordapp.net/attachments/936706236085305404/945696860721520640/unknown.png?width=804&height=586)

[2022-02-23 03:12] Shruti025 commented on #83
I want to work on this under JWOC

[2022-02-23 14:20] skpandey885 commented on #70
@920DEV What is the Update? Generate the PR by Tonight. You have already taken 2 Days.

[2022-02-23 19:08] 920DEV commented on #70
i am on it bro. i am trying to complete it as soon as  possible.

[2022-02-24 02:25] #80 closed

[2022-02-24 02:31] skpandey885 commented on #70
Generate a PR by tonight. You have already taken 3 days buddy. We are not allowed to give more than 2 days for a medium level issue.

[2022-02-24 15:12] DarkFalc0n commented on #75
I want to work on this issue under JWOC

[2022-02-24 16:20] skpandey885 commented on #75
Go ahead. Must go through the steps in Readme.MD

[2022-02-24 16:22] skpandey885 commented on #66
@03amir What is the update?

[2022-02-25 16:17] #83 closed

[2022-02-25 16:22] Shruti025 opened #85 "Footer bug Covid Page"
The footer is shrinking for smaller screens
![image](https://user-images.githubusercontent.com/72005584/155750249-e6dac542-deff-404d-809b-4188d6bd618a.png)

[2022-02-25 16:22] Shruti025 commented on #85
I want to work on this issue under JWOC

[2022-02-25 16:53] #85 closed

[2022-02-25 17:41] 03amir commented on #66
i am working on it

[2022-02-27 13:33] skpandey885 commented on #75
Hey. Generate the PR Asap. Within 12 Hours.

[2022-02-27 13:33] #71 closed

[2022-03-01 10:20] Tess-Vanta commented on #66
I want to take this up under JWOC

[2022-03-01 10:29] skpandey885 commented on #66
Go ahead

[2022-03-02 03:20] skpandey885 opened #88 "Add a Body Fat Calculator in the Tools Section"
**CURRENT BEHAVIOUR:**  The Tools Page has some Dummy cards.
<img width="1022" alt="Screenshot 2022-03-02 at 8 49 15 AM" src="https://user-images.githubusercontent.com/78532081/156288601-21509577-920e-4698-bcc0-236a3d190e93.png">

**EXPECTED BEHAVIOUR:** Take one of the dummy cards and make a Body Fat Calculator  page and link it to that card.

[2022-03-02 03:24] skpandey885 opened #89 "Fix the size of the Cards in Covid Blogs page and add more cards"
**CURRENT BEHAVIOUR:** The size of cards in the covid blogs page are different from each other. And the number of cards are also less in the covid blogs page.
<img width="1440" alt="Screenshot 2022-03-02 at 8 51 04 AM" src="https://user-images.githubusercontent.com/78532081/156288768-b552f861-ac38-49c4-b593-18975290a1e2.png">
**EXPECTED BEHAVIOUR:** Fix the size of every card to a fixed size like

[2022-03-02 03:28] skpandey885 opened #90 "Change the text"
**CURRENT BEHAVIOUR:** The Covid page have a button just above the navbar named as "Covid Blogs"
<img width="395" alt="Screenshot 2022-03-02 at 8 56 42 AM" src="https://user-images.githubusercontent.com/78532081/156289332-8b303e85-989c-460a-a56d-238b740e7d81.png">
**EXPECTED BEHAVIOUR:** Change it to "Covid Blogs and Articles".

[2022-03-02 04:11] yeshwanth235 commented on #89
I would like to work on this issue

[2022-03-02 04:33] skpandey885 commented on #89
Ok

[2022-03-02 06:26] Shruti025 opened #92 "Covid Page bugs"
The Covid Page has certain responsiveness bugs. I am attaching certain screenshots.

The "Click me!" buttons are hiding for smaller screens
![image](https://user-images.githubusercontent.com/72005584/156307075-60f59e95-03bb-4e87-84f4-de1d38270e82.png)

The data is overflowing the container
![image](https://user-images.githubusercontent.com/72005584/156307212-c45fe6bc-7143-415a-8289-382cfff83bca.pn

[2022-03-02 06:27] Shruti025 commented on #92
I want to work on this issue under JWOC

[2022-03-02 06:36] #90 closed

[2022-03-02 12:59] skpandey885 commented on #92
Go ahead.

[2022-03-03 07:35] skpandey885 opened #95 "Add a Calorie Calculator to the tools Page"
**CURRENT BEHAVIOUR:** The Tools Page has a dummy card at the Last.
<img width="579" alt="Screenshot 2022-03-03 at 1 04 33 PM" src="https://user-images.githubusercontent.com/78532081/156517863-8c245c4f-eb7a-48d5-b8fa-a2069491e366.png">

**EXPECTED BEHAVIOUR:** Make a Calorie Calculator Page and link the Dummy card to that page.
For Reference :  https://www.calculator.net/calorie-calculator.html

[2022-03-03 13:53] #92 closed

[2022-03-03 15:17] mridul4101 commented on #95
I would like to work under this issue for JWOC.

[2022-03-04 04:43] #89 closed

[2022-03-04 05:56] #66 closed

[2022-03-04 16:20] Shruti025 opened #100 "Tips Page Bug"
The Tips Page has responsiveness issues, I am attaching some screenshots for your reference.

![image](https://user-images.githubusercontent.com/72005584/156799986-e694c7d3-535c-4e83-a2ea-aaf173891fdb.png)
![image](https://user-images.githubusercontent.com/72005584/156800028-23aa0ab7-d602-4911-9b3f-75d230b1100c.png)
![image](https://user-images.githubusercontent.com/72005584/156800099-7bc73008-dd6

[2022-03-04 16:30] Shruti025 commented on #100
I want to work on this under JWOC

[2022-03-04 16:35] Shruti025 opened #101 "Centering the footer About Us section for all pages"
The About Us section is not centered correctly for all the Pages excluding Covid and looks like this

![image](https://user-images.githubusercontent.com/72005584/156802332-08361559-54fe-4aae-8331-5d3b4221f26f.png)

[2022-03-04 16:35] Shruti025 commented on #101
I want to work on this under JWOC

[2022-03-05 03:42] skpandey885 commented on #101
Check the footer of all the pages of HealhUb and fix all of them. Make them to center.

[2022-03-05 04:27] Tess-Vanta opened #102 "Change design of landing page"
I would like to improve the design of landing page and also fix the some issues like text readability and horizontal scroll.

<img width="953" alt="image" src="https://user-images.githubusercontent.com/72697074/156867635-59677533-735b-41aa-b562-ce1fad8e284c.png">

[2022-03-05 04:42] skpandey885 commented on #102
can you elaborate the issue

[2022-03-05 04:46] #70 closed

[2022-03-05 04:47] skpandey885 opened #103 "Change the About Page"
**CURRENT BEHAVIOUR:** The current About Page is laggy.
Link to about page: https://skpandey885.github.io/HealhUb/pages/about.html
**EXPECTED BEHAVIOUR:** Either improve the UX or Change the design of the whole page.

[2022-03-05 04:49] skpandey885 opened #104 "Fix the Responsivenes"
**Fix the Responsiveness of the Humburger Icon in the team page**
<img width="720" alt="Screenshot 2022-03-05 at 10 18 58 AM" src="https://user-images.githubusercontent.com/78532081/156868376-9d83ecde-73e8-4813-a497-52303749c4e1.png">

[2022-03-05 04:52] Tess-Vanta commented on #102
Keeping the content same.. I want to optimize the design for more readable test and easy navigation and interactive landing page. Also I want to add the list of services provided by the site to the home page

[2022-03-05 04:53] Shruti025 commented on #104
I want to work on this under JWOC

[2022-03-05 04:54] skpandey885 commented on #102
Go ahead and make a PR. If I'll like the work I will merge it. Can't agree more.

[2022-03-05 04:56] skpandey885 commented on #104
I guess you are already working on 2 issues. Finish them asap then i'll assign you.

[2022-03-05 05:03] Tess-Vanta commented on #104
I want to work on this under JWOC

[2022-03-05 05:12] Shruti025 commented on #104
I have made a PR for one of them just now

[2022-03-05 05:41] ahmadjubair33 commented on #103
Hi, @skpandey885 Please assign this issue to me. I have seen your about page and there are lots of faults. I will update the about page. Thanks

[2022-03-05 07:14] #101 closed

[2022-03-05 07:18] skpandey885 commented on #103
Go ahead. Must Go through the steps in Readme.MD before starting.

[2022-03-05 07:19] skpandey885 commented on #104
@Tess-Vanta @Shruti025  First Come First serve :)

[2022-03-05 07:28] skpandey885 opened #106 "Text Issue in Tips Page"
**CURRENT BEHAVIOUR:** The text in the Tips page looks very bad on mobile view.

<img width="720" alt="Screenshot 2022-03-05 at 12 44 34 PM" src="https://user-images.githubusercontent.com/78532081/156873029-bec96581-7bc6-40ae-919f-723f6dea9e0f.png">
<img width="720" alt="Screenshot 2022-03-05 at 12 44 29 PM" src="https://user-images.githubusercontent.com/78532081/156873048-767ac412-cf99-43ca-bdf4-

[2022-03-05 07:34] tanya-gupta25 commented on #106
I want to work on this issue under JWOC

[2022-03-05 07:37] skpandey885 commented on #106
go ahead

[2022-03-06 05:20] #95 closed

[2022-03-06 07:10] sayan404 opened #109 "Proper link is not attached to the tag "Our Team" in the footer section"
The link in the  Our Team  tag is directing to the About page  .... It should direct to the  page called  Our Team

[2022-03-06 09:38] #104 closed

[2022-03-06 09:39] skpandey885 commented on #109
can you mention some screenshots? Because In mine it is working fine.

[2022-03-07 10:39] skpandey885 commented on #100
@Shruti025 Whats the update? You have taken so much time for an Easy Issue? Create a PR by tonight.

[2022-03-07 10:40] skpandey885 commented on #103
@ahmadjubair33 Whats the update??

[2022-03-07 11:25] Shruti025 commented on #100
sorry, got caught up with some college stuff. Will make a PR asap

[2022-03-07 12:16] ahmadjubair33 commented on #103
Hi @skpandey885 I have raised a Pr please review It.

[2022-03-07 13:21] #100 closed

[2022-03-07 13:21] #106 closed

[2022-03-08 04:33] tanya-gupta25 opened #114 "Update footer text size in Covid page"
I want to work on this issue under JWOC

[2022-03-09 04:54] #114 closed

[2022-03-09 04:54] #109 closed

[2022-03-09 04:56] skpandey885 commented on #103
@ahmadjubair33 Please check my comment on your PR.

[2022-03-09 05:13] Shruti025 commented on #103
Can I work on this under JWOC?

[2022-03-10 01:48] #103 closed

[2022-03-10 01:48] #102 closed

[2022-04-05 12:25] skpandey885 opened #117 "Add Margin"
CURRENT BEHAVIOUR: In the <a href="https://skpandey885.github.io/HealhUb/pages/covidSection.html">Covid</a> page. There is very less gap between the "Choose a country" field and the icons below.
EXPECTED BEHAVIOUR: Increase the margin between them.

<img width="1262" alt="Screenshot 2022-04-05 at 5 52 08 PM" src="https://user-images.githubusercontent.com/78532081/161752549-ee24fd75-75b3-41d4-bf04-

[2022-04-05 16:15] skpandey885 commented on #117
@Pritam0077 Go for it.
Refer to the steps given here in order to work on this issue 👇🏻
https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf

[2022-04-05 16:18] skpandey885 opened #118 "Improve the Documentation"
CURRENT BEHAVIOUR: The documentation of HealhUb is good but it can be better.
EXPECTED BEHAVIOUR: Improve the documentation with proper paragraphs, lines, details and much more.
To see the current documentation click <a href="https://github.com/skpandey885/HealhUb/blob/main/Documentation/documentation.md"> here</a>

[2022-04-05 16:22] Rupantar-Borphukan commented on #117
I have solved it but some errors are coming while adding git push origin master

[2022-04-05 16:29] skpandey885 commented on #117
Hey Buddy, This is not how things work 😊 In order to contribute to the issue, you need to comment on the issue and get yourself assigned by the mentor. Then you should follow some steps. Do not clone the repo directly. Please look into some other issues and then I will assign you.

[2022-04-05 16:32] Rupantar-Borphukan commented on #117
Ok Sir, Actually I am new to this so don't know how it's works.

[2022-04-05 16:34] skpandey885 commented on #117
Yeah. brother i got it. You can work on this issue.👇🏻 Go and comment here so that i can assign you.
https://github.com/skpandey885/HealhUb/issues/118

[2022-04-05 16:35] Rupantar-Borphukan commented on #118
Sir, Can I will work on this issue?

[2022-04-05 16:38] skpandey885 commented on #118
Go for it.
Follow these steps:
https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf

[2022-04-05 18:20] #117 closed

[2022-04-22 05:56] kaal-coder commented on #118
I have updated the README.md. Please check and let me know if I should add/change anything if required.

[2022-04-22 06:00] skpandey885 commented on #118
Hey Kaushik!
I am unable to find any PR!

[2022-04-22 13:57] kaal-coder commented on #118
I guess there was an issue from my end. I have done now.
Sorry for the inconvenience.
Do let me know if I need to add any or change the section. Thanks in advance.

[2022-09-30 15:53] itsEobard2025 opened #123 "[BUG] Missing Contact Icons in Home Page"
It appears that your Home Page is missing font-awesome icons at the Contact-Info Section. I would like to work on that Issue.
<br/>
**Contact-Info in the HomePage**
![Contact-Info @HomePage](https://user-images.githubusercontent.com/88548999/193308310-d2c27080-92fc-4778-b4b8-c0c2120ae71e.png)
<br/>
**Contact-Info in the AboutPage** _(can be found in other pages as well)_
![Contact-Info @AboutPage]

[2022-10-01 04:33] skpandey885 commented on #123
Hey @itsEobard2025! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click <a href="https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf">here</a>, and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

Happy Hacktoberfest!

[2022-10-01 07:26] YatharthaRana opened #125 "Age and Gender section missing"
I want to add the age and gender section on the BMI calculator page
Also, fewer statements display as a result.
Initially
<img width="1317" alt="Screenshot 2022-10-01 at 12 53 44" src="https://user-images.githubusercontent.com/95047694/193398143-facdb1c9-ff29-4d56-b506-9566f87096cf.png">

After my modification
<img width="1403" alt="Screenshot 2022-10-01 at 12 51 00" src="https://user-images.githu

[2022-10-01 09:47] bloodmonk7 opened #126 "Contributing.md file needed"
I think one contributing.md is a must need over here. So if you provide me with all the requirements you will need or if we go with general requirements for the file, both ways I am willing to make it.
Please assign it to me if you need one Contributing.md

[2022-10-01 10:53] skpandey885 commented on #126
Hey @bloodmonk7! Can you please elaborate about the content you will add in Contributing.MD

[2022-10-01 10:57] skpandey885 commented on #125
Hey @YatharthaRana! For BMI Calculation, Age and Gender is not required but still i think it will improve the content point of view. So, you can go ahead and work on this issue. Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

Happy Hackt

[2022-10-01 11:27] #123 closed

[2022-10-01 11:36] bloodmonk7 commented on #126
We can add the general code of conduct and procedure on how to get issues assigned and it will help people who will come. This will help them and save time for understanding the procedure, If we write it for them.

[2022-10-01 12:08] skpandey885 commented on #126
I am still not clear with your thoughts, but okay! Let's give it a try! Go ahead and start working on it. I will review your PR and if it convinces me, i will merge it. Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

[2022-10-01 12:16] bloodmonk7 commented on #126
Thank You soo much for allowing me to do it, I won't dissapoint you for sure.

[2022-10-02 05:58] #126 closed

[2022-10-02 06:27] aksharma27 opened #130 "DropDown nav for mobile devices"
The home link is overriding the logo when in mobile view.
Also I would like to align the link to center when in mobile view.
![Screenshot (114)](https://user-images.githubusercontent.com/83135634/193441040-40099211-8b8b-417a-a391-2ec0435b464d.png)

[2022-10-02 09:27] skpandey885 commented on #130
Hey @aksharma27! Go ahead and work on this issue. But Must follow [these] (https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf) steps.

[2022-10-02 09:27] #125 closed

[2022-10-02 09:27] hemantkumar76 commented on #130
heyi i gonna want to work here

[2022-10-02 09:29] skpandey885 commented on #130
Hey there, I really appreciate your enthusiasm to work on the issue, but I am following the first come first serve principle. Please visit the website and find bugs (if any) or features that your want to fix/add.

[2022-10-02 09:33] skpandey885 commented on #126
Hey @bloodmonk7! Can you please tell me whether your PR has been counted in the hacktoberfest or not? You can visit hacktoberfest.com to check it. Kindly let me know!

[2022-10-02 09:39] skpandey885 opened #131 "Improvements in Tips Page UI [Hacktoberfest]"
Current Behaviour: The [Tips](https://skpandey885.github.io/HealhUb/pages/tips.html) page UI is more colorful than required and not following the website theme.

Expected Behaviour: It should have a similar design to [Covid Page](https://skpandey885.github.io/HealhUb/pages/covidSection.html) & [Tools Page](https://skpandey885.github.io/HealhUb/pages/tools.html).  Modify the UI and Design of Tips p

[2022-10-02 09:58] Srinja333 commented on #131
i want to work on it , assign me

[2022-10-02 09:59] skpandey885 commented on #131
Hey @Srinja333! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

Happy Hacktoberfest!

[2022-10-02 10:23] Srinja333 commented on #131
i am new in github contribution i want to know how to run project in my computer, how to see changes of webpages by my web browser, please help

[2022-10-02 10:24] Srinja333 commented on #131
i cloned it, and also made branch

[2022-10-02 11:23] skpandey885 commented on #131
Please follow these steps -  https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf

[2022-10-02 11:24] Srinja333 commented on #131
when i chenged in my branch then how to see changes?

[2022-10-02 11:29] Srinja333 commented on #131
PS E:\pr\HealhUb> git remote add upstream https://github.com/skpandey885/HealhUb.git
error: remote upstream already exists.

[2022-10-02 12:18] Srinja333 commented on #131
i got it, started working on it you can believe me

[2022-10-02 13:53] aksharma27 opened #133 "improvement in UI of bodyFat.html in navbar"
I will change the navlinks button border to 2px i.e, neither too sharp nor too curved so, it will give a modern look.
Also the logo is overlapped by the home link when in mobile view, I will remove the ovelap by adding some margin.
Please assign me this issue.

[2022-10-02 15:28] skpandey885 commented on #133
Hey @aksharma27! Can you please share screenshots, so that i can understand your concern properly.

[2022-10-02 15:29] skpandey885 commented on #131
Ha, work on it! I am not assigning issue to anyone!

[2022-10-02 16:04] sumitkr2000 opened #134 "Enahacing Frontend"
Hey @skpandey885 I want to add hover effect on some of the element and enhance the frontend of this amazing website. Can you please assign me this issue? Thank you !

[2022-10-02 18:32] aksharma27 commented on #133
Before: The Home link when hovered was overlapping the logo in mobile and
the text was left aligned.
After: Home link is not overlapping the logo when hovered in mobile view
and here I have aligned the text to center

On Sun, 2 Oct 2022 at 20:59, Sachin Pandey ***@***.***> wrote:

[2022-10-02 19:58] ManishMadan2882 opened #135 "Improvement in UI and Fonts"
Can I get this issue assigned under Hacktober'22 ?

[2022-10-02 20:28] skpandey885 commented on #135
Hey @ManishMadan2882! Can you please elaborate the issue?

[2022-10-02 20:30] skpandey885 commented on #133
Okey @aksharma27! Go ahead and must follow [these](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf) steps.

[2022-10-02 20:31] skpandey885 commented on #134
Hey @sumitkr2000! Can you please elaborate on what kind of enhancement you want to add? Please explain!

[2022-10-02 20:41] ManishMadan2882 commented on #135
The text readability is low at some point where the bg-image opacity can be reduced
The Font style on the home page can be made better.

[2022-10-02 20:46] skpandey885 commented on #135
Okey Go Ahead!

[2022-10-03 05:28] sumitkr2000 commented on #134
@skpandey885 I want to add fontawesome icons on navbar, imporve the buttons and some fonts animations on hover etc. Please assign me this issue!

[2022-10-03 07:01] skpandey885 commented on #134
Hey @sumitkr2000 ! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

Happy Hacktoberfest!

[2022-10-03 07:01] skpandey885 commented on #135
Hey @ManishMadan2882 !
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

[2022-10-03 07:16] sumitkr2000 commented on #134
@skpandey885 thank you for the approval ! I will follow all the guidelines for sure.

[2022-10-03 10:39] rsinghcodes opened #141 "Add 404 page"
I want to add 404 page with well designed UI and with graphics or illustration and with some appropriate information like we should inform the user that he has jumped or redirected to wrong page or the page he is trying to find is not available.

Please assign it to me.

[2022-10-03 11:31] ManishMadan2882 opened #142 "In the Covid Section the number/percentage of cases recovered are zero"
Can I work on this issue ?

[2022-10-03 12:27] sumitkr2000 commented on #134
Hey @skpandey885 I had a doubt!
If I want to add font awesome icons to navbar...do I have to add it in all the pages??

[2022-10-03 13:22] YatharthaRana opened #143 "Dark theme missing"
I can add the dark mode to the website

[2022-10-03 21:06] c99SRS commented on #133
Hi @aksharma27 please assign this to me

[2022-10-04 04:57] skpandey885 commented on #141
Hey @rsinghcodes, go for it!

[2022-10-04 04:58] skpandey885 commented on #143
Hey @YatharthaRana! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.
Happy Hacktoberfest!

[2022-10-04 04:59] skpandey885 commented on #142
Hey @ManishMadan2882! Can you please elaborate the issue wiuth screenshots?

[2022-10-04 04:59] skpandey885 commented on #131
@Srinja333 What is the status of your work?

[2022-10-04 06:11] Harsh-Kapoorr opened #146 "Changing the credit theme for more neatness"
I will add a more purposed credit title at the end of README and it will really look nice.
Please assign this to me.

[2022-10-04 06:41] skpandey885 commented on #146
Hey @Harsh-Kapoorr ! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.
Happy Hacktoberfest!

[2022-10-04 06:42] skpandey885 commented on #131
@sumitkr2000 Are you interested to work on it?

[2022-10-04 06:46] sumitkr2000 commented on #131
@skpandey885 I will be happy to work on this issue. Thank you for considering me for this.

[2022-10-04 07:43] skpandey885 commented on #131
Hey @sumitkr2000! Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

Happy Hacktoberfest!

[2022-10-04 07:46] #146 closed

[2022-10-04 07:47] skpandey885 commented on #130
@aksharma27 Please, let me know what is the status!

[2022-10-04 07:55] aksharma27 commented on #130
Sorry, which status?

On Tue, 4 Oct, 2022, 1:17 pm Sachin Pandey, ***@***.***>
wrote:

[2022-10-04 07:58] skpandey885 commented on #130
Please check my comments on your PR ASAP!

[2022-10-04 16:43] raushankumarmishra commented on #133
@skpandey885  please assign me this issue

[2022-10-04 17:10] #133 closed

[2022-10-04 17:11] #130 closed

[2022-10-04 17:45] aksharma27 opened #150 "update for covid blogs page"
Update for UI of this page when the cards are hovered.

[2022-10-04 17:45] aksharma27 opened #151 "update for covid blogs page"
Update for UI of this page when the cards are hovered.

[2022-10-05 04:51] #131 closed

[2022-10-05 04:52] #134 closed

[2022-10-05 04:53] skpandey885 commented on #135
Hey @ManishMadan2882! What are the updates?

[2022-10-05 04:58] skpandey885 opened #153 "Improve the UX of About Page"
**Current Behaviour :** The UI of [About](https://healhub.vercel.app/pages/about.html) page is good, but the UX is very laggy.
**Expected Behaviour :**  Improve the UX of [About](https://healhub.vercel.app/pages/about.html) Page and improve the UI little bit as well.

[2022-10-05 05:22] rsinghcodes commented on #153
Could you please let me understand how the UX should be improved?

[2022-10-05 05:44] skpandey885 commented on #153
Hey @rsinghcodes, Please finish the issue already assigned to you, I cannot assign you this issue until you finish the previous one.

[2022-10-05 05:44] #151 closed

[2022-10-05 05:51] AnanyaM007 commented on #153
Hey @skpandey885 ! I cloned the repo and understood the problem. Can you please assign this to me. I think I will be able to solve this problem.

[2022-10-05 05:59] Princerey opened #154 "Improved UI of Team page"
Hey @skpandey885  Can I improve the UI of the team tab ? Like the square photos looks a bit odd and I can add hover effects too and make the page more aesthetic . Like the Background blur and the header can be changed to make the page more attractive .

[2022-10-05 06:02] Princerey commented on #154
Also the navbar of team tab is not in sync with other tabs.

[2022-10-05 06:13] rsinghcodes commented on #153
Hey @skpandey885, I have already raised PR for the previous assigned issue. Can you please review and merge that?

[2022-10-05 15:51] skpandey885 commented on #150
Can you please first complete the issues assigned to you earlier?

[2022-10-05 15:52] skpandey885 commented on #154
Hey @Princerey ! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.

Happy Hacktoberfest!

[2022-10-05 16:01] skpandey885 commented on #153
Hey @rsinghcodes, for now let me assign it to @AnanyaM007! There are more issues that needs to be fixed. Please checkou the opened issues.

Hey @AnanyaM007  ! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow

[2022-10-05 20:58] Princerey commented on #154
@skpandey885 I have made the necessary changes. Can you please check the PR .

[2022-10-05 22:43] c99SRS commented on #143
Hi @skpandey885 can you assign this to me? I can add this.

[2022-10-05 22:44] c99SRS commented on #141
HI @skpandey885 I want to add some nice error page. please assign it to me

[2022-10-06 02:34] rsinghcodes commented on #141
Hey @c99SRS, I have already raised PR for this issue (#148).

[2022-10-06 06:32] YatharthaRana commented on #143
@c99SRS
I have almost completed it...

[2022-10-06 15:47] #141 closed

[2022-10-06 17:58] AnanyaM007 commented on #153
Hey @skpandey885 ! I've created the PR. It would be great if you verify and let me know if there are other changes you require.

[2022-10-06 18:57] AnanyaM007 commented on #153
Hey! I've created the pr. Kindly verify and lemme know if you need any further changes.

[2022-10-07 10:06] #143 closed

[2022-10-07 10:06] skpandey885 commented on #143
Please look for other issues!

[2022-10-07 10:07] #135 closed

[2022-10-07 14:45] ankita-104 opened #162 "A login page for the users"

[2022-10-07 15:03] skpandey885 commented on #162
Hey @ankita-104! A Login page would also be needing a backend, which framework will you be using for the backend/database?

[2022-10-07 15:03] skpandey885 commented on #162
please, let me now then ill assign you!

[2022-10-07 15:24] rishabhknowss commented on #162
please assign me the task

[2022-10-07 16:13] ankita-104 commented on #162
well..I want to contribute for the front end part of the login page using html,css,js

[2022-10-08 04:09] Amisha2004 commented on #162
Please assign me this task

[2022-10-08 04:40] skpandey885 commented on #162
Hey, the login page without backend will look like a dummy website, if you can add a backend/dB maybe firebase (because it’s easy) then i can assign you the issue.

[2022-10-08 06:01] rsinghcodes opened #163 "Add fonts in the website"
I want to add fonts in website. Currently, the website is using the default web browser font, however we can use a custom font.

So, please assign it to me, I'll add one of the google fonts that will look good.

[2022-10-08 07:02] Priyanshu-Mehra commented on #162
hey can you assign me this issue.I am comfortable with firebase

[2022-10-08 07:03] Priyanshu-Mehra commented on #162
I want to contribute to this repo

[2022-10-09 04:11] gkumar-pandey opened #164 "Scroll animation in Tool page and Team page"
Hii @skpandey885
i would like to add zoom-in animation in card of tools page and fade-left and fade-right on team page.
please assign to me

[2022-10-09 09:53] Rahulgarg01 commented on #162
Hey I can Create a signup page for your website with Mailchimp's API serving as backend.
Mailchimp API will allow you to add email subscribers and manage your users easily.....
If you feel it would be helpful this way then kindly assign the task.

[2022-10-09 13:29] skpandey885 commented on #163
Hey @rsinghcodes ! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.
Happy Hacktoberfest!

[2022-10-09 13:30] skpandey885 commented on #164
Hey @gkumar-pandey ! Good to see your enthusiasm to work on the project.
Yes, It understood the issue you raised, you can proceed ahead and work on it.
Click [here](https://github.com/skpandey885/HealhUb/blob/main/Documentation/Getting%20started.pdf), and follow the exact steps in order to contribute, otherwise i won't allow myself to accept the pull request.
Happy Hacktoberfest!

[2022-10-09 13:31] skpandey885 commented on #162
Go ahead!

[2022-10-09 16:51] #163 closed

[2022-10-09 16:53] skpandey885 commented on #162
Hey @Priyanshu-Mehra, I am closing this issue, because i will be implementing the Db with the help of NodeJS soon.

[2022-10-09 16:53] #162 closed

[2022-10-09 18:44] satyam73 opened #166 "Improve the ui of home page"
Hello,
As I saw that the home page is little messed up. So I want to improve the home section of the website. Please assign this issue to me so that I can work on the same.
Thanks!

[2022-10-14 02:57] Ankit62042 opened #170 "Explore Button alignment Correction"
I opened this website in the phone and it I think it need some alignment Correction.It would be better if Explore button align at centre in phone too

[2022-10-14 02:57] Ankit62042 commented on #170
![Screenshot_20221014-082339.png](https://user-images.githubusercontent.com/71378462/195751935-ead48505-b47a-440b-a502-cff64dbb6aac.png)

[2022-10-14 02:58] Ankit62042 commented on #170
I would like to work on this issue,Can you please assign me?